.pagtotal {
    font-family: 'Lora', serif;
    /* font-family: "Amatic SC", cursive; */
    background-color: #010101;
    color: white;
    background-image: url(../images/thumb-1920-298926.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    min-height: 100vh; /* Torna a página pelo menos 100% da altura da viewport */
    position: relative;
    overflow: hidden;
}


.inicio {
    text-align: center;
}

.botao {
    background-color: black; /* Define a cor de fundo do botão como preta */
    color: white; /* Define a cor do texto do botão como branca */
    padding: 10px 20px; /* Adicione um espaçamento interno ao botão */
    border-radius: 10px; /* Remova a borda do botão */
    cursor: pointer; /* Adicione um cursor ao passar o mouse sobre o botão */
    font-family: "Amatic SC", cursive;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box; /* Adicione esta propriedade para incluir o padding no cálculo da largura */
}
